a:visited {
    color: $keyColor;
}

* {
    font-family: $mainFont, sans-serif;
    text-decoration: none;
    list-style: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


.menu{
    display: inline-block;
    justify-content: center;
}

.nav-item{
    padding: 0px 20px;
    font-size: $textSm;
}

.ms-auto{
    margin-left: 30px;
}

.navbar-nav ul li a svg{
    color: $keyColor;
}

header {
    align-items: center;
    justify-content: center;
    height: 100%;
    text-align: center;
        img {
            max-width: 100%;
            max-height: 100%;
            margin-top: 0.5rem;
            margin-bottom: 2rem;
        }
}

body {
    background-image: url(../img/backgrounds/SL_042620_30310_15.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container-fluid a{
    display: flex;
    text-decoration: none;
    align-items: center;
    justify-content: center;
}
h1 {
    font-size: $textLg;
    display: inline-flex;
    color: $keyColor;
    font-weight: $textBold;
    text-decoration: none;
    list-style: none;
}

h2 {
    font-size: $textMd;
    color: $hColor;
    font-weight: $textBold;
}

h3{
    color: $keyColor;
}

p {
    font-size: $textSm;
    line-height: 1.3em;
    color: $keyColor;
}
main {
    padding-bottom: 50px;
        section {
            text-align: center;
        a {
            display: inline-flex;
            margin: 3px 3px 10px;
            text-decoration: none;
        h3 {
          /* display: inline-flex; */
          text-decoration: none;
          padding-right: 10px;
          text-align: center;
        }
}
    form {
      div {
        line-height: 2em;
      }
}

section{
        padding: 30px 0px;
    }
    img {
        width: 250px;
        height: auto;
    }
    h2{
        padding-bottom: 20px;
        color: $keyColor;
}



button{
    border: none;
    background-color: $buttomColor;
    border-radius: 4px;
    padding: 7px;
    margin: 10px;}
        
    }

.pie ul li a {
    text-decoration: none;
    justify-content: center;
    color: $keyColor;
    }
}

footer{
    display: flex;
    flex-direction: row;
    background-color:$mainColor; ;
    width: 100%;
    justify-content:space-around;
    align-items: center; 
    text-decoration: none;
        div ul li {
            display: inline-flex;
            height: 50px;
            padding: 20px 30px; 
            justify-content: center;
            text-align: center;
            text-decoration: none;
            list-style: none;
            color: $keyColor;
        }
}