
$mainColor:rgb(177, 174, 174);
$keyColor: rgb(5, 5, 5);
$hColor:rgb(76, 77, 76);
$mainFont: 'Montserrat';
$textXlg: 2.1em;
$textLg: 2em;
$textMd:1.8em;
$textSm: 1.2em;
$textXsm: 0.9em;
$textBold:bold;
$buttomColor:rgb(211, 208, 208);
$formColor:rgb(177, 174, 174);